services:
 
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    ports:
     - "5432:5432"
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
      
volumes:
  postgres_data:
  redis-data: